<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <style>body#body{margin:0;padding:0;background-color:#ffeaa7}pre::before{font-weight:bold;font-size:30px}pre#main{white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;white-space:pre-line;margin:80px auto;padding:20px;width:100%;max-width:800px;min-width:400px;background-color:#FFF;box-shadow:rgba(0,0,0,0.5) 2px 2px 6px}span.arrow{font-weight:bold;font-size:50px;cursor:pointer}</style>
</head>
<body id=body onload=intro()>
<pre id=main>

    </pre>